body {
	background-color: #263954;
	margin: 0;
}

.navbar {
	min-height: 8vh;
}

.navbar-nav .nav-link {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	font-size: 26px;
}

.navbar-nav .nav-item {
	margin: 0 0.75rem;
}